<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
      <h1>Sign In</h1>
      <form action="/sign_in" method="post">
        <input name="username" type="text" placeholder="Username">
        <input name="password" type="password" placeholder="Password">
        <button type="submit">Submit</button>
     </form>
  </body>
</html>
